html, body {
    font-family: 'Overpass', serif;
    height: 100%;
}

#opening {
    padding-top: 70px;
    margin-bottom: 30px;
}

#opening .text {
    font-size: 80px;
}

#opening .text .greeting,
#opening .text .me {
    display: none;
}

.content {
    display: none;
}

#main {
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20%;
}

#main .about,
#main .contact,
#main .tech,
#main .projects {
    margin-bottom: 30px;
}

#main .projects ol li {
    font-size: 18px;
}

#footer {
    padding: 30px 0;
}

#footer .social {
    list-style: none;
    margin: 0 0 15px;
    padding: 0;
}

#footer .social li {
    display: inline-block;
    margin-right: 10px;
}

#footer .social li a {
    font-size: 28px;
    text-decoration: none;
}

#footer .social li a.fa-github {
    color: #333333;
}

#footer .social li a.fa-envelope-o {
    color: #F6D400;
}

#footer .social li a.fa-facebook {
    color: #4863bc;
}

#footer .social li a.fa-twitter {
    color: #4caee6;
}

#footer .social li a.fa-linkedin {
    color: #1178b4;
}

#footer .social li a.fa-instagram {
    color: #3f729b;
}

#footer .social li a.fa-rss {
    color: #ff6600;
}

#footer .copyright {
    color: #aaaaaa;
    font-size: 16px;
}
